/*Set margin and padding for all elements to 0, use border box sizing */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*Set background color for entire page */

body {
    background-color: #d9dcd6;
}


/*Set background color to bluish, padding of 20 pixels on all sides, and font to Trebuchet for header */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}


/*Set font size to 48px for main company name */

header h1 {
    display: inline-block;
    font-size: 48px;
}


/*Change color for seo part of company name */

header h1 .seo {
    color: #d9dcd6;
}


/*Change font and size for navigation bar, float it to the right, and change margin and padding */

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


/*Remove list formatting for navigation bar*/

header nav ul {
    list-style-type: none;
}


/*Add margins for navigation links, displays them inside */

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}


/*Change link color to White */

a {
    color: #ffffff;
    text-decoration: none;
}


/*Sets font size for paragraphs in the page */

p {
    font-size: 16px;
}


/*Creates area for main page image and loads in to the background */

figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/*Sets main section to 70% to leave room for sidebar, adds left margin */

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


/*Creates a class for floating elements to the left */

.float-left {
    float: left;
    margin-right: 25px;
}


/*Creates a class for floating elements to the right */

.float-right {
    float: right;
    margin-left: 25px;
}


/*Adds margin and padding for the main sections of the site, changes the font, changes the background and font color */

#search-engine-optimization,
#online-reputation-management,
#social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


/*Sets max heights for the main sections */

#search-engine-optimization img,
#online-reputation-management img,
#social-media-marketing img {
    max-height: 200px;
}


/*Sets font size and bottom margins for the main sections */

#search-engine-optimization h2,
#online-reputation-management h2,
#social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/*Set margin and padding for the sidebar area, clears previous floats and floats the bar to the left, sets the width to 20% to fit on the side of the main content, changes font and background color */

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}


/*Sets color for sidebar sections, gives them bottom margins */

#benefit-lead,
#benefit-brand,
#benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}


/*Centers the header text for the sidebar, give them bottom margins */

#benefit-lead h3,
#benefit-brand h3,
#benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}


/*Sets image sizes for the sidebar*/

#benefit-lead img,
#benefit-brand img,
#benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/*Aligns text to the center for the footer, clears floats, changes font, and adds padding to all sides */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


/*Changes font size for the footer heading*/

footer h4 {
    font-size: 20px;
}